<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../common/head.html %>
    <!-- inline styles related to this page -->
    <style>
        .table>tbody>tr>td {
            vertical-align: middle;
        }
        .cover {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(9, 10, 10, 0.527);
            z-index: 999;
        }
    </style>
</head>

<body class="no-skin">
    <% include ../../common/header.html %>
    <div class="main-container ace-save-state" id="main-container">
        <% include ../../common/sidebar.html %>
        <% include ../../common/left-menu.html %>
        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content" id="content">
                    <% include ../../common/breadcrumb.html %>
                    <% include ../../common/ace-settings-container.html %>
                    <!-- loading动画 -->
                    <div class="cover" v-show="loadingShow" style="z-index: 1999;display: none;">
                        <img src="/img/loading.gif" alt="上传中" style="position: absolute;top: 50%;left: 50%;">
                    </div><!-- loading动画 -->
                    <!--信息提示弹窗-->
                    <div class="modal" id="info" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style="padding: 10px;">
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×</button>
                                    <h4 class="modal-title">提示信息</h4>
                                </div>
                                <div class="modal-body text-center">
                                    <h4 v-text="diaMsg"></h4>
                                </div>
                                <p class="text-center">
                                    <button type="button" class="btn btn-primary btn-sm"
                                        data-dismiss="modal">确定</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--删除弹窗-->
                    <div class="modal" id="delete" tabindex="-1" role="dialog" aria-hidden="true"
                        data-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style="padding: 10px;">
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×</button>
                                    <h4 class="modal-title">提示信息</h4>
                                </div>
                                <p>
                                    <div class="modal-body text-center">
                                        <h4>是否确认删除?</h4>
                                    </div>
                                </p>
                                <p class="text-center">
                                    <button type="button" class="btn btn-primary btn-sm" @click="del()">确定</button>
                                    <button type="button" class="btn btn-default btn-sm"
                                        data-dismiss="modal">取消</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--新增弹窗-->
                    <div class="modal" id="operate" tabindex="-1" role="dialog" aria-hidden="true"
                        data-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content" style="width:1000px;margin-left:-200px">
                                <div class="modal-header" >
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                    </button>
                                    <h4 class="modal-title inline">新增</h4>
                                </div>
                                <div class="form-horizontal">
                                    <div style="width:550px;float:left;padding:20px 0px 0px 20px;">
                                        <div class="form-group">
                                            <i class="red" style="margin-left: 230px">添富微刊图文添加请填:0,投资内参图文添加请填:1,添友杂谈图文添加请填:2,其他任意规则请填规则名即可</i>
                                            <label class="col-sm-5 control-label">规则名称:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model='ruleName' style="width: 300px;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <i class="red" style="margin-left: 230px">添富微刊图文添加请填:0,投资内参图文添加请填:1,添友杂谈图文添加请填:2,其他类型可不填</i>
                                            <label class="col-sm-5 control-label">分组类型:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model='groupOrder' style="width: 300px;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <i class="red" style="margin-left: 230px;height: 32px;display: inline-block;">汇资讯排序编号,填数字即可,会根据此数字来决定汇资讯的显示顺序,限制3个字符</i>
                                            <label class="col-sm-5 control-label">汇资讯排序编号:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" placeholder="填入整数" v-model.number='groupId' maxlength="3" style="width: 300px;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">此条记录是否需要绑定才能查询:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <select style="width: 168px;" v-model='binding'>
                                                    <option value="0">不需要绑定</option>
                                                    <option value="1">需要绑定</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">此条记录查询类型:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <select style="width: 168px;" v-model='serverType'>
                                                    <option value="">空</option>
                                                    <option value="text">文本查询</option>
                                                    <option value="esb">ESB查询</option>
                                                    <option value="fund">基金fund查询</option>
                                                    <option value="push">push</option>
                                                    <option value="assets">assets</option>
                                                    <option value="other">other</option>
                                                    <option value="member">member</option>
                                                    <option value="wap">wap</option>
                                                    <option value="redpack">redpack</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <i class="red" style="margin-left: 230px;height: 32px;display: inline-block;">需要调用esb,fund查询的才需要填写,不需要调用esb的可以不用填写</i>
                                            <label class="col-sm-5 control-label">调用方法名:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model='subType' style="width: 300px;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <i class="red" style="margin-left: 230px">多个关键字格式:a,b,c...</i>
                                            <label class="col-sm-5 control-label">不完全匹配关键字:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model='fuzzyKey' style="width: 300px;">
                                                <!-- <input type="number" placeholder="填入整数"
                                                    v-model.number='addData.investPeriodStart'> -->
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <i class="red" style="margin-left: 230px">多个关键字格式:a,b,c...</i>
                                            <label class="col-sm-5 control-label">完全匹配关键字:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model='mateKey' style="width: 300px;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">规则类型:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">

                                                <select style="width: 168px;" v-model='ruleType'>
                                                    <option value="0">被添加时自动回复</option>
                                                    <option value="1">消息自动回复</option>
                                                    <option value="2">关键字自动回复</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="width:400px;float:left;padding:20px 0px 0px 0px;">
                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">公众账号:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <select style="width: 168px;" v-model='system'>
                                                    <option value="0">公用类型</option>
                                                    <option value="1" v-if="system==1">汇添富官方微信公众平台</option>
                                                    <option value="2" v-if="system==2">汇添富微信</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">是否可用:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <select style="width: 168px;" v-model='enable'>
                                                    <option value="0">不可用</option>
                                                    <option value="1">可用</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">信息类型:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <select style="width: 168px;" v-model='msgType' @change="showMsgType(msgType,'add')">
                                                    <option value="0">文本-TEXT</option>
                                                    <option value="1">音频-AUDIO</option>
                                                    <option value="2">图文-ARTICLE</option>
                                                    <option value="4">图片-IMAGE</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group" v-if="msgType==0">
                                            <label class="col-sm-5 control-label">文本内容:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <!--<input type="text" v-model='content' style="width: 300px;">-->

                                                <textarea name=""  cols="15" rows="5" style="height: 54px; width:260px;" v-model="content"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group" v-if="msgType==1">
                                            <label class="col-sm-5 control-label">音频TITLE:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model='musicTitle' style="width:260px;">
                                            </div>
                                        </div>
                                        <div class="form-group" v-if="msgType==1">
                                            <label class="col-sm-5 control-label">音频说明:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model='musicDes' style="width:260px;">
                                            </div>
                                        </div>
                                        <div class="form-group" v-if="msgType==1">
                                            <label class="col-sm-5 control-label">音频地址:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model='musicUrl' style="width:260px;">
                                            </div>
                                        </div>
                                        <div class="form-group" v-if="msgType==1">
                                            <label class="col-sm-5 control-label">高清音频地址:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model='hqmusicUrl' style="width:260px;">
                                            </div>
                                        </div>
                                        <div class="form-group" v-if="msgType==2">
                                            <label class="col-sm-5 control-label">图文TITLE:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model.trim='articleTitle' style="width:260px;">
                                            </div>
                                        </div>
                                        <div class="form-group" v-if="msgType==2">
                                            <label class="col-sm-5 control-label">图文说明:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <!--<input type="text" v-model.trim='articleDes'>-->
                                                <textarea name=""  cols="15" rows="5" style="height: 54px; width:260px;" v-model="articleDes"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group" v-if="msgType==2">
                                            <label class="col-sm-5 control-label">图文图片地址:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model.trim='articlePicurl' style="width:260px;">
                                            </div>
                                        </div>
                                        <div class="form-group" v-if="msgType==2">
                                            <label class="col-sm-5 control-label">图文地址:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model.trim='articleUrl' style="width:260px;">
                                            </div>
                                        </div>
                                        <div class="form-inline" style="padding: 10px 0;" v-show="flag">
                                            <div class="form-group">
                                                <label class="control-label" style="margin-left:80px">上传图片:</label>
                                                <input type="text" style="width:150px;" id="uploadInput" placeholder="请选择" disabled/>
                                                <input type="button" class="btn btn-sm btn-primary" id="fileSelectBtn" value="选择">
                                                <input type="button" class="btn btn-sm btn-primary" @click="uploadFile" value="上传">
                                                <input id="uploadFileInput" type="file" name="file" style="display: none" class="upload"/>
                                            </div>
                                        </div>
                                        <div class="form-group" v-show="flag">
                                            <label class="col-sm-5 control-label" style="margin-left: -30px;">素材id:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model.trim='mediaId' style="width:150px;" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-center" style="clear: both">
                                        <button class="btn btn-sm btn-primary" @click="saveParam()">保存</button>
                                        <button class="btn btn-sm btn-primary" data-dismiss="modal"
                                            aria-hidden="true">取消
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--修改弹窗-->
                    <div class="modal" id="revise" tabindex="-1" role="dialog" aria-hidden="true"
                         data-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content" style="width:1000px;margin-left:-200px">
                                <div class="modal-header" >
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                    </button>
                                    <h4 class="modal-title inline">修改</h4>
                                </div>
                                <div class="form-horizontal">
                                    <div style="width:550px;float:left;padding:20px 0px 0px 20px;">
                                        <div class="form-group">
                                            <i class="red" style="margin-left: 230px">添富微刊图文添加请填:0,投资内参图文添加请填:1,添友杂谈图文添加请填:2,其他任意规则请填规则名即可</i>
                                            <label class="col-sm-5 control-label">规则名称:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model='ruleName' style="width: 300px;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <i class="red" style="margin-left: 230px">添富微刊图文添加请填:0,投资内参图文添加请填:1,添友杂谈图文添加请填:2,其他类型可不填</i>
                                            <label class="col-sm-5 control-label">分组类型:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model='groupOrder' style="width: 300px;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <i class="red" style="margin-left: 230px;height: 32px;display: inline-block;">汇资讯排序编号,填数字即可,会根据此数字来决定汇资讯的显示顺序,限制3个字符</i>
                                            <label class="col-sm-5 control-label">汇资讯排序编号:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" placeholder="填入整数" v-model.number='groupId' maxlength="3" style="width: 300px;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">此条记录是否需要绑定才能查询:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <select style="width: 168px;" v-model='binding'>
                                                    <option value="0">不需要绑定</option>
                                                    <option value="1">需要绑定</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">此条记录查询类型:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <select style="width: 168px;" v-model='serverType'>
                                                    <option value="">空</option>
                                                    <option value="text">文本查询</option>
                                                    <option value="esb">ESB查询</option>
                                                    <option value="fund">基金fund查询</option>
                                                    <option value="push">push</option>
                                                    <option value="assets">assets</option>
                                                    <option value="other">other</option>
                                                    <option value="member">member</option>
                                                    <option value="wap">wap</option>
                                                    <option value="redpack">redpack</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <i class="red" style="margin-left: 230px;height: 32px;display: inline-block;">需要调用esb,fund查询的才需要填写,不需要调用esb的可以不用填写</i>
                                            <label class="col-sm-5 control-label">调用方法名:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model='subType' style="width: 300px;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <i class="red" style="margin-left: 230px">多个关键字格式:a,b,c...</i>
                                            <label class="col-sm-5 control-label">不完全匹配关键字:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model='fuzzyKey' style="width: 300px;">
                                                <!-- <input type="number" placeholder="填入整数"
                                                    v-model.number='addData.investPeriodStart'> -->
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <i class="red" style="margin-left: 230px">多个关键字格式:a,b,c...</i>
                                            <label class="col-sm-5 control-label">完全匹配关键字:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model='mateKey' style="width: 300px;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">规则类型:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">

                                                <select style="width: 168px;" v-model='ruleType'>
                                                    <option value="0">被添加时自动回复</option>
                                                    <option value="1">消息自动回复</option>
                                                    <option value="2">关键字自动回复</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="width:400px;float:left;padding:20px 0px 0px 0px;">
                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">公众账号:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <select style="width: 168px;" v-model='system'>
                                                    <option value="0">公用类型</option>
                                                    <option value="1" v-if="system==1">汇添富官方微信公众平台</option>
                                                    <option value="2" v-if="system==2">汇添富微信</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">是否可用:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <select style="width: 168px;" v-model='enable'>
                                                    <option value="0">不可用</option>
                                                    <option value="1">可用</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">信息类型:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <select style="width: 168px;" v-model='msgType'  @change="showMsgType(msgType,'update')">
                                                    <option value="0">文本-TEXT</option>
                                                    <option value="1">音频-AUDIO</option>
                                                    <option value="2">图文-ARTICLE</option>
                                                    <option value="4">图片-IMAGE</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group" v-if="msgType==0">
                                            <label class="col-sm-5 control-label">文本内容:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <!--<input type="text" v-model='content'>-->
                                                <textarea name=""  cols="15" rows="5" style="height: 54px; width:260px;" v-model="content"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group" v-if="msgType==1">
                                            <label class="col-sm-5 control-label">音频TITLE:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model='musicTitle' style="width:260px;">
                                            </div>
                                        </div>
                                        <div class="form-group" v-if="msgType==1">
                                            <label class="col-sm-5 control-label">音频说明:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model='musicDes' style="width:260px;">
                                            </div>
                                        </div>
                                        <div class="form-group" v-if="msgType==1">
                                            <label class="col-sm-5 control-label">音频地址:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model='musicUrl' style="width:260px;">
                                            </div>
                                        </div>
                                        <div class="form-group" v-if="msgType==1">
                                            <label class="col-sm-5 control-label">高清音频地址:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model='hqmusicUrl' style="width:260px;">
                                            </div>
                                        </div>
                                        <div class="form-group" v-if="msgType==2">
                                            <label class="col-sm-5 control-label">图文TITLE:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model.trim='articleTitle' style="width:260px;">
                                            </div>
                                        </div>
                                        <div class="form-group" v-if="msgType==2">
                                            <label class="col-sm-5 control-label">图文说明:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <!--<input type="text" v-model.trim='articleDes' style="width:260px;">-->
                                                <textarea name=""  cols="15" rows="5" style="height: 54px; width:260px;" v-model="articleDes"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group" v-if="msgType==2">
                                            <label class="col-sm-5 control-label">图文图片地址:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model.trim='articlePicurl' style="width:260px;">
                                            </div>
                                        </div>
                                        <div class="form-group" v-if="msgType==2">
                                            <label class="col-sm-5 control-label">图文地址:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model.trim='articleUrl' style="width:260px;">
                                            </div>
                                        </div>
                                        <div class="form-inline" style="padding: 10px 0;" v-show="updateFlag">
                                            <div class="form-group">
                                                <label class="control-label" style="margin-left:80px">上传图片:</label>
                                                <input type="text" style="width:150px;" id="uploadInput1" placeholder="请选择" disabled/>
                                                <input type="button" class="btn btn-sm btn-primary" id="fileSelectBtn1" value="选择">
                                                <input type="button" class="btn btn-sm btn-primary" @click="uploadFile1" value="上传">
                                                <input id="uploadFileInput1" type="file" name="file" style="display: none" class="upload"/>
                                            </div>
                                        </div>
                                        <div class="form-group" v-show="updateFlag">
                                            <label class="col-sm-5 control-label" style="margin-left: -30px;">素材id:</label>
                                            <div class="col-sm-4" style="margin-left: -15px;">
                                                <input type="text" v-model.trim='mediaId' style="width:150px;" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-center" style="clear: both">
                                        <button class="btn btn-sm btn-primary" @click="update()">确定</button>
                                        <button class="btn btn-sm btn-primary" data-dismiss="modal"
                                                aria-hidden="true">取消
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-inline" style="padding: 20px 0;">
                        <div class="form-group" style="padding-bottom:20px;">
                            <label class="control-label">公众账号:</label>
                            <select v-model='system' style="background:#dff3ff" @change="getDate()">
                                <!--<option value="0">公用类型</option>-->
                                <option value="1">汇添富官方微信公众平台</option>
                                <option value="2">添富汇微信</option>
                               <!--  <option :value="item.typeId" v-for='(item,index) of sceneList' :key="index">
                                    {{item.typeName}}</option> -->
                            </select>
                        </div>
                        <div style="border-top:1px solid #eee"></div>
                        <br>
                        <div class="form-group">
                            <label class="control-label">规则名:</label>
                            <input type="text"  v-model='ruleNames'>
                        </div>
                        <div class="form-group">
                            <label class="control-label">完全匹配关键字:</label>
                            <input type="text"  v-model='mateKeys'>
                        </div>
                        <div class="form-group">
                            <label class="control-label">不完全匹配关键字:</label>
                            <input type="text"  v-model.trim='fuzzyKeys'>
                        </div>
                        <div class="form-group pull-right">
                            <input type="button" class="btn btn-sm btn-primary" value="查询" @click='getTableData(0)'
                                style="margin-right:30px;">
                            <% if(canShow||authorityList.includes('C')) { %>
                            <input type="button" class="btn btn-sm btn-primary" value="新建" @click="showAdd()" style="margin-right:30px;">
                            <% } %>
                            <input type="button" class="btn btn-sm btn-primary" value="刷新" @click='refresh()'>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div class="table-header">
                        <%= cpage %>--表格数据
                    </div>

                    <!--分页器和快速查询-->
                    <div class="row" style="padding:8px 0;background-color: #EFF3F8; margin: 0;">
                        <div class="col-xs-6">
                            <div class="dataTables_length">
                                <label>每页显示</label>
                                <select class="input-sm" name="pageMaxNum" v-model="pageMaxNum">
                                    <option value="10">10</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                                <label>条</label>
                            </div>
                        </div>
                        <!-- <div class="col-xs-6">
                            <div id="dynamic-table_filter" class="dataTables_filter">
                                <label>快速查询:</label>
                                <input type="text" class="input-sm" v-model="condition">
                            </div>
                        </div> -->
                    </div>
                    <!--数据表-->
                    <table id="simple-table" class="table table-striped table-bordered table-hover dataTable"
                        style="margin-bottom: 0;">
                        <thead>
                            <tr>
                                <th class="center col-sm-1">规则名</th>
                                <th class="center col-sm-1">不完全匹配关键字</th>
                                <th class="center col-sm-1">完全匹配关键字</th>
                                <th class="center col-sm-1">文本内容</th>
                                <th class="center col-sm-1">信息类型</th>
                                <th class="center col-sm-1">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-if="viewData.length>0">
                                <tr v-for="(item,index) in viewData" :key="index">
                                    <td class="center" v-text='item.ruleName'></td>
                                    <td class="center" v-text='item.fuzzyKey'></td>
                                    <td class="center" v-text='item.mateKey'></td>
                                    <td class="center" v-text='item.content'></td>
                                    <td class="center" >{{item.msgType | msgType}}</td>
                                    <td class="center">
                                        <% if(canShow||authorityList.includes('U')) { %>
                                        <a href="javascript:;" @click="showUpdate(item)">修改</a>
                                        <% } %>
                                        /
                                        <% if(canShow||authorityList.includes('D')) { %>
                                        <a href="javascript:;" class="red" @click="showDelete(item)">删除</a>
                                        <% } %>
                                    </td>
                                </tr>
                            </template>
                            <template v-else>
                                <tr>
                                    <td class="center" v-text="'没有数据'" colspan="8"></td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                    <!--底部页码-->
                    <div v-if="viewData.length>0" class="row"
                        style="border-bottom: 1px solid #e0e0e0;padding-top: 12px;padding-bottom: 12px;background-color: #EFF3F8;margin: 0;">
                        <div class="col-xs-2">
                            <div class="dataTables_info" v-text="'共 '+middleData.length+' 页'"></div>
                        </div>
                        <div class="col-xs-10">
                            <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button"
                                        v-show="pageList.length<middleData.length&&currentIndex>maxSpace">
                                        <a href="javascript:;" v-text="'1...'" @click="toFirst"></a>
                                    </li>
                                    <li :class="currentIndex==0?'paginate_button previous disabled':'paginate_button previous'"
                                        @click="prev">
                                        <a href="javascript:;" v-text="'上一页'"></a>
                                    </li>
                                    <li :class="value==currentIndex+1?'paginate_button active':'paginate_button'"
                                        v-for="value in pageList" @click="changeIndex(value)">
                                        <a href="javascript:;" v-text="value"></a>
                                    </li>
                                    <li class="paginate_button"
                                        v-show="pageList.length<middleData.length&&middleData.length-currentIndex>maxSpace">
                                        <a href="javascript:;" v-text="'...'+middleData.length" @click="toLast"></a>
                                    </li>
                                    <li :class="currentIndex==middleData.length-1?'paginate_button next disabled':'paginate_button next'"
                                        @click="next">
                                        <a href="javascript:;" v-text="'下一页'"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->
        <% include ../../common/footer.html %>
    </div><!-- /.main-container -->
    <% include ../../common/basic-scripts.html %>
    <!-- 开发环境版本，包含了用帮助的命令行警告 -->
    <script src="/js/lib/vue.js"></script>
    <script src="/js/publicConfig/wechatPublicMgmt/replyMessageTemplateMgmt.js"></script>
</body>

</html>