<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../common/head.html %>
    <!-- inline styles related to this page -->
    <link rel="stylesheet" href="/ace/assets/css/bootstrap-datetimepicker.min.css"/>

    <style>
        .table>tbody>tr>td {
            vertical-align: middle;
        }

        .form-inline>div {
            padding: 10px 0;
            text-align: right;
        }

        .form-inline span {
            text-align: left;
        }

        @media (min-width: 768px) {
            #add .modal-dialog {
                width: 1000px;
                margin: 30px auto;
            }
        }

        .long-content {
            word-break: break-all;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    </style>
</head>

<body class="no-skin">
    <% include ../../common/header.html %>
    <div class="main-container ace-save-state" id="main-container">
        <% include ../../common/sidebar.html %>
        <% include ../../common/left-menu.html %>
        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                    <% include ../../common/breadcrumb.html %>
                    <% include ../../common/ace-settings-container.html %>
                    <div class="row" id="content">

                        <!-- 置顶弹窗 -->
                        <div class="col-xs-12">
                            <div class="modal" id="updateLevelDialog" tabindex="-1" role="dialog" aria-hidden="true"
                                data-backdrop="static">
                                <div class="modal-dialog" style="width:450px;">
                                    <div class="modal-content">
                                        <div class="modal-header" style="padding: 10px;">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">×
                                            </button>
                                            <h4 class="modal-title">设置置顶时间</h4>
                                        </div>
                                        <div class="modal-body text-center">
                                            <div class="input-group" style='margin: 21px auto;'>
                                                <label class="control-label ">开始时间:&nbsp;&nbsp;</label>
                                                <input type="text" class="date-timepicker  " value=""  id="startTime"/>
                                                <span class="input-group-addon " style="width: 34px; height: 34px; "><i
                                                        class="fa fa-clock-o bigger-110"></i></span>
                                            </div>
                                            <div class="input-group" style='margin: 21px auto;'>
                                                <label class="control-label ">结束时间:&nbsp;&nbsp;</label>
                                                <input type="text" class="date-timepicker  " value="" id="endTime"/>
                                                <span class="input-group-addon "
                                                      style="width: 34px; height: 34px; position: relative;left:-1px;"><i
                                                        class="fa fa-clock-o bigger-110"></i></span>
                                            </div>
                                        </div>
                                        <p class="text-center">
                                            <button type="button" class="btn btn-primary btn-sm" @click='levelModify()'>确定
                                            
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">取消
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        <div class="col-xs-12">
                            <!--提示信息弹窗-->
                            <div class="modal" id="info" tabindex="-1" role="dialog" aria-hidden="true"
                                data-backdrop="static">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="padding: 10px;">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">×
                                            </button>
                                            <h4 class="modal-title">提示信息</h4>
                                        </div>
                                        <div class="modal-body text-center">
                                            <h4 v-text="diaMsg"></h4>
                                        </div>
                                        <p class="text-center">
                                            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">确定
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--信息提示弹窗-->
                            <div class="modal" id="preview" tabindex="-1" role="dialog" aria-hidden="true"
                                data-backdrop="static">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="padding: 10px;">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">×</button>
                                            <h4 class="modal-title">图像预览</h4>
                                        </div>
                                        <div class="modal-body text-center">
                                            <img :src="previewPath" alt="" style="max-width:100%;height: auto;">
                                        </div>
                                        <p class="text-center">
                                            <button type="button" class="btn btn-primary btn-sm"
                                                data-dismiss="modal">返回</button>
                                        </p>
                                    </div>
                                </div>
                            </div>



                            <div class="modal" id="add" tabindex="-1" role="dialog" aria-hidden="true"
                                data-backdrop="static">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="padding: 10px;">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">×
                                            </button>
                                            <h4 class="modal-title">查看</h4>
                                        </div>
                                        <div class="form-horizontal" style="padding-top: 20px;">

                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">
                                                    动态标题:</label>
                                                <div class="col-sm-9">
                                                    <input type="text" v-model='operateData.title' style="width: 100%;">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">
                                                    动态正文:</label>
                                                <div class="col-sm-9" id="wangEditor">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">
                                                    作者:</label>
                                                <div class="col-sm-4">
                                                    <!-- <select v-model='operateData.authorId' style="width: 168px;"
                                                        disabled>
                                                        <option value="">请选择</option>
                                                        <option :value="item.id" v-for='item in accountList'>
                                                            {{item.nickname}}</option>
                                                    </select> -->
                                                    <img :src="operateData.avatarImage" alt=""
                                                        style="width: 30px;height: 30px;">
                                                    <label style="padding-top: 7px;"
                                                        v-text='operateData.nickname'></label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">
                                                    图片:</label>
                                                <!-- <div class="col-sm-12">
                                                    <img src="/sfs/admin/v1/file/download/21090216562V353W" alt="" style="width: 100px; height:100px">
                                                </div> -->
                                                <div class="col-sm-9">
                                                    <img v-for="item in operateData.imagesList"
                                                        @click="previewImg(item.imageUrl)" :src="item.imageUrl" alt=""
                                                        style="width: 100px; height:100px;margin-right: 10px;">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">
                                                    关联产品:</label>
                                                <div class="col-sm-4">
                                                    <label style="padding-top: 7px;"
                                                        v-text="item.productId+'--'+item.productName"
                                                        v-for='item in operateData.productsList'></label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">
                                                    话题:</label>
                                                <div class="col-sm-5">
                                                    <select v-model='operateData.topicId' style="width: 100%;" disabled>
                                                        <option value="">请选择</option>
                                                        <option :value="item.id" v-for='item in topicLIst'>
                                                            {{item.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="text-center">
                                            <button class="btn btn-info btn-sm" type="button" data-dismiss="modal">
                                                关闭
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <!-- DIALOG ENDS -->

                            <div class="form-inline">

                                <div class="form-group ">
                                    <label style="width: 80px;">动态标题</label>
                                    <input type="text" v-model='title'>
                                </div>
                                <div class="form-group ">
                                    <label style="width: 80px;">正文</label>
                                    <input type="text" v-model='content'>
                                </div>
                                <div class="form-group ">
                                    <label style="width: 80px;">用户编号</label>
                                    <input type="text" v-model='userId'>
                                </div>
                                <div class="form-group  " style="margin-left: 2%;">
                                    <label class="control-label">
                                        置顶状态:</label>
                                    <select class="input-sm" @change="getTableData(0)" name="page3"
                                        v-model="articleLevel">
                                        <option value="1">已置顶</option>
                                        <option value="0">未置顶</option>
                                        <option value="">全部</option>

                                    </select>
                                </div>
                                <div class="form-group pull-right" style="margin-right:30px;">
                                    <input type="button" class="btn btn-sm btn-primary " value="查询"
                                        @click="getTableData(0)">
                                </div>
                            </div>
                            <div class="table-header">
                                <%= cpage %>--表格数据
                            </div>
                            <!--分页器和快速查询-->
                            <div class="row" style="padding:8px 0;background-color: #EFF3F8; margin: 0;">
                                <div class="col-xs-6">
                                    <div class="dataTables_length" id="dynamic-table_length">
                                        <label>每页显示</label>
                                        <select class="input-sm" name="pageMaxNum" v-model.trim="pageMaxNum">
                                            <option value="10">10</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="500">500</option>
                                        </select>
                                        <label>条</label>
                                    </div>
                                </div>
                            </div>
                            <!--数据表-->
                            <div style="width: 100%;">
                                <table style="table-layout:fixed" id="simple-table"
                                    class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th class="center col-sm-1 col-md-1 col-lg-1">动态ID</th>
                                            <th class="center col-sm-1 col-md-1 col-lg-1">用户编号</th>
                                            <th class="center col-sm-1 col-md-1 col-lg-1">用户昵称</th>
                                            <!-- <th class="center col-sm-1 col-md-1 col-lg-1">姓名</th> -->
                                            <th class="center col-sm-1 col-md-1 col-lg-1">动态标题</th>
                                            <th class="center col-sm-3 col-md-3 col-lg-3">动态正文</th>
                                            <th class="center col-sm-1 col-md-1 col-lg-1">创建时间</th>
                                            <!-- 置顶开始时间和置顶结束时间 -->
                                            <th class="center col-sm-1 col-md-1 col-lg-1">置顶开始时间</th>
                                            <th class="center col-sm-1 col-md-1 col-lg-1">置顶结束时间</th>
                                            <th class="center col-sm-1 col-md-1 col-lg-1">状态</th>
                                            <th class="center col-sm-1 col-md-1 col-lg-1">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-if="tableData.length>0">
                                            <tr v-for="(item,index) in tableData" :key="index">
                                                <td class="center" v-text='item.postId'></td>
                                                <td class="center" v-text='item.userInfo.userId'></td>
                                                <td class="center" v-text='item.userInfo.nickname'></td>
                                                <!-- <td class="center"></td> -->
                                                <td class="center"  style="word-break:break-all;" v-text='item.title'></td>
                                                <td class="center"  style="word-break:break-all;" v-text='item.summary'></td>
                                                
                                                <!-- <td class="center" style="word-break:break-all;" v-text='item.title'> -->
                                                <!-- </td> -->
                                                <!-- <td class="center" style="word-break:break-all;" v-text='HTMLDecode(item.content)'> -->
                                                <!-- <td  class="center " style="word-break:break-all; " 
                                                    data-toggle="tooltip"  data-html="true" :title='item.summary'>
                                                    <template>
                                                        <p style="overflow:hidden;text-overflow:ellipsis; display: -webkit-box;-webkit-line-clamp: 3; -webkit-box-orient: vertical"
                                                            v-html='item.content'>
                                                        </p>
                                                    </template>
                                                </td> -->
                                                <td class="center" v-text='item.createTime'></td>
                                                <td class="center"  style="word-break:break-all;" v-text='item.topStartTime'></td>
                                                <td class="center"  style="word-break:break-all;" v-text='item.topEndTime'></td>
                                                <td class="center">{{statusText(item.status)}}</td>
                                                <td class="center">
                                                    <a href="javascript:;"
                                                        @click='updateStatus(item)'>{{item.status!=1?"展示":"隐藏"}}</a>
                                                    &nbsp;
                                                    <a href="javascript:;" @click='showDetail(item)'>查看</a>
                                                    <a href="javascript:;" @click='updateLevel(item)'>
                                                        {{item.level==1?"取消置顶":'置顶'}}
                                                    </a>
                                                </td>
                                            </tr>
                                        </template>
                                        <template v-else>
                                            <tr>
                                                <td class="center" v-text="'没有数据'" colspan="11"></td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                            <!--底部页码-->
                            <div v-if="tableData.length>0" class="row"
                                style="border-bottom: 1px solid #e0e0e0;padding-top: 12px;padding-bottom: 12px;background-color: #EFF3F8;margin: 0;">
                                <div class="col-xs-2">
                                    <div class="dataTables_info" v-text="'共 '+totalPage+' 页'"></div>
                                </div>
                                <div class="col-xs-10">
                                    <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button"
                                                v-show="pageList.length<totalPage&&currentIndex>maxSpace">
                                                <a href="javascript:;" v-text="'1...'" @click="toFirst"></a>
                                            </li>
                                            <li :class="currentIndex==0?'paginate_button previous disabled':'paginate_button previous'"
                                                @click="prev">
                                                <a href="javascript:;" v-text="'上一页'"></a>
                                            </li>
                                            <li :class="value==currentIndex+1?'paginate_button active':'paginate_button'"
                                                v-for="value in pageList" @click="changeIndex(value)">
                                                <a href="javascript:;" v-text="value"></a>
                                            </li>
                                            <li class="paginate_button"
                                                v-show="pageList.length<totalPage&&totalPage-currentIndex>maxSpace">
                                                <a href="javascript:;" v-text="'...'+totalPage" @click="toLast"></a>
                                            </li>
                                            <li :class="currentIndex==totalPage-1?'paginate_button next disabled':'paginate_button next'"
                                                @click="next">
                                                <a href="javascript:;" v-text="'下一页'"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->
        <% include ../../common/footer.html %>
    </div><!-- /.main-container -->
    <% include ../../common/basic-scripts.html %>
    <!-- 开发环境版本，包含了用帮助的命令行警告 -->

    <script src="/js/lib/vue.js"></script>
    <script src="/js/lib/wangEditor.js"></script>
    <script src="/ace/assets/js/bootstrap-timepicker.min.js"></script>
    <script src="/ace/assets/js/moment.min.js"></script>
    <script src="/ace/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/messageCenter/auditMgmt/communityDynamic.js"></script>

</body>

</html>