<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/head.html %>
    <!-- inline styles related to this page -->
</head>
<body class="no-skin">
<% include ../common/header.html %>
<div class="main-container ace-save-state" id="main-container">
    <% include ../common/sidebar.html %>
    <% include ../common/left-menu.html %>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <% include ../common/breadcrumb.html %>
                <% include ../common/ace-settings-container.html %>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <% include ../common/footer.html %>
    </div><!-- /.main-container -->
    <% include ../common/basic-scripts.html %>
</body>
</html>
