<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../common/head.html %>
    <!-- inline styles related to this page -->

    <link rel="stylesheet" href="/ace/assets/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="/css/chosen.min.css">
    <style>
        .table > tbody > tr > td {
            vertical-align: middle;
        }
        .chosen-single {
            height: 30px !important;
            line-height: 30px !important;
            border-radius: 0 !important;
        }
    </style>
</head>
<body class="no-skin">
<% include ../../common/header.html %>
<div class="main-container ace-save-state" id="main-container">
    <% include ../../common/sidebar.html %>
    <% include ../../common/left-menu.html %>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content" id="content">
                <% include ../../common/breadcrumb.html %>
                <% include ../../common/ace-settings-container.html %>
                <!--新增编辑弹窗-->
                <div class="modal" id="add" tabindex="-1" role="dialog" aria-hidden="true"
                     data-backdrop="static">
                    <div class="modal-dialog" style="width:700px;">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 10px;">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" style="display: inline">新增支付信息</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form " style="padding: 0 50px 30px 30px;">
                                    <div style="float:right;">

                                        <div class="form-group" style="display:none">
                                            <label class="control-label">规则编号:</label>
                                            <input type="text" style="width:185px;" v-model="id"/>
                                        </div>
                                        <div class="form-group" style="position:relative;bottom:0px;">
                                        <div>
                                            <label class="control-label">开始时间:</label>
                                            <input type="text" style="width:150px;" placeholder="必填" id="startTime_local"
                                                   class="date-timepicker" ref="startTime" value="2000-01-01 00:00:00"/>

                                            <span class="input-group-addon"
                                                  style="width:30px;display:inline;margin:-5px 0 0 -4px;">
                                                    <i class="fa fa-clock-o bigger-110"></i>
                                            </span>
                                         </div>
                                         <span style="padding-left: 60px;padding-top:10px;">
                                            <a href="javascript:;" @click="setStartTime('now','local')">现在日期</a>&nbsp;
                                            <a href="javascript:;" @click="setStartTime('future','local')">未来日期</a>&nbsp;
                                            <a href="javascript:;" @click="setStartTime(0,'local')">0点</a>&nbsp;
                                            <a href="javascript:;" @click="setStartTime(9,'local')">9点</a>&nbsp;
                                            <a href="javascript:;" @click="setStartTime(15,'local')">15点</a>
                                        </span>
                                        </div>
                                        <div class="form-group" style="position:relative;bottom:0px;">
                                        <div>
                                            
                                            <label class="control-label">结束时间:</label>
                                            <input type="text" style="width:150px;" placeholder="必填" id="endTime_local"
                                                   class="date-timepicker" ref="endTime" value="2099-12-31 23:59:59"/>
                                            <span class="input-group-addon"
                                                  style="width:30px;display:inline;margin:-5px 0 0 -4px;">
                                                    <i class="fa fa-clock-o bigger-110"></i>
                                            </span>
                                        </div>
                                            <span style="padding-left: 60px;">
                                                <a href="javascript:;" @click="setEndTime('now','local')">现在日期</a>&nbsp;
                                                <a href="javascript:;" @click="setEndTime('future','local')">未来日期</a>&nbsp;
                                                <a href="javascript:;" @click="setEndTime(0,'local')">0点</a>&nbsp;
                                                <a href="javascript:;" @click="setEndTime(9,'local')">9点</a>&nbsp;
                                                <a href="javascript:;" @click="setEndTime(15,'local')">15点</a>
                                            </span>
                                        </div>
                                        <!-- <div class="form-group" style="position:relative;bottom:0px;">
                                            <label class="control-label">创建时间:</label>
                                            <input type="text" style="width:140px;" placeholder="必填" id="createTime"
                                                   class="date-timepicker" ref="createTime"/>

                                            <span class="input-group-addon"
                                                  style="width:30px;display:inline;margin:-5px 0 0 -4px;">
                                                    <i class="fa fa-clock-o bigger-110"></i>
                                                </span>
                                        </div>
                                        <div class="form-group" style="position:relative;bottom:0px;">
                                            <label class="control-label">更新时间:</label>
                                            <input type="text" style="width:140px;" placeholder="必填" id="updateTime"
                                                   class="date-timepicker" ref="updateTime"/>
                                            <span class="input-group-addon"
                                                  style="width:30px;display:inline;margin:-5px 0 0 -4px;">
                                                    <i class="fa fa-clock-o bigger-110"></i>
                                                </span>
                                        </div> -->
                                    </div>

                                    <div style="float:left">
                                        <!-- <template> -->
                                        <div class="form-group">
                                            <!-- <label class="control-label">产品代码:</label>
                                            <input type="text" style="width:175px;" v-model.trim="saveproduct"/> -->
                                            <label class="control-label">产品代码:</label>
                                            <select id="fundAddList" class="chosen-select form-control"
                                                    data-placeholder="请选择">
                                            </select>
                                            <span style="color:red">*必填</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">支付方式:</label>
                                            <!-- <input type="text" style="width:175px;" v-model="payType"/> -->
                                            <!--<select name="payType" style="width:175px;" v-model="payType"-->
                                                    <!--style="width: 100px;">-->
                                                <!--<option value="00">全部</option>-->
                                                <!--<option value="01">现金宝</option>-->
                                                <!--<option value="02">银行卡</option>-->
                                            <!--</select>-->

                                            <!--<label class="pos-rel">-->
                                                <!--<input type="checkbox" id="payType9"-->
                                                       <!--value="*" class="ace"-->
                                                       <!--@click="setpayType('*')"-->
                                                       <!--v-model="payType"/>-->
                                                <!--<span class="lbl"></span>-->
                                            <!--</label>-->
                                            <!--<label for="payType9">全部</label>-->
                                            <template v-for="(item,index) in payTypeList">
                                                <label class="pos-rel">
                                                    <input type="checkbox"
                                                           :id="'payType'+index"
                                                           :value="item.pmco" class="ace"
                                                           @click="setpayType(item.pmco)"
                                                           v-model="payType"/>
                                                    <span class="lbl"></span>
                                                </label>
                                                <label :for="'payType'+index"
                                                       v-text="item.pmnm"></label>
                                            </template>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">交易类型:</label>
                                            <!-- <input type="text" style="width:175px;" v-model="tradeType"/> -->
                                            <!--<select style="width:175px" v-model='tradeType'>-->
                                                <!--<option value="">请选择</option>-->
                                                <!--<option value="00">申购</option>-->
                                                <!--<option value="01">认购</option>-->
                                                <!--<option value="02">赎回</option>-->
                                                <!--<option value="03">定投</option>-->
                                                <!--<option value="04">分红</option>-->
                                                <!--<option value="05">转换</option>-->
                                                <!--<option value="09">其他</option>-->
                                            <!--</select>-->
                                            <select style="width:175px" v-model.trim='tradeType'>
                                                <option value="">全部</option>
                                                <option :value="item.pmco" v-for="(item,index) in tradeList">
                                                    {{item.pmnm}}
                                                </option>
                                            </select>
                                        </div>
                                        <template>
                                            <div class="form-group">
                                                <label class="control-label" style="margin-left:28px">渠道:</label>
                                                <!--<input type="text" style="width:175px;" v-model="channel"/>-->
                                                <select style="width:175px" v-model.trim='channel'>
                                                    <option value="">全部</option>
                                                    <option :value="item.pmco" v-for="(item,index) in channelList">
                                                        {{item.pmnm}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" style="margin-left:28px">备注:</label>
                                                <input type="text" style="width:175px;" v-model.trim="remark"/>
                                            </div>
                                        </template>
                                        <!-- </template> -->
                                    </div>
                                </div>
                            </div>
                            <p class="text-center" style="clear: both">
                                <button class="btn btn-sm btn-primary" @click="saveParam()">保存</button>
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                            </p>
                        </div>
                    </div>
                </div>


                <!--修改更新弹窗-->
                <div class="modal" id="revise" tabindex="-1" role="dialog" aria-hidden="true"
                     data-backdrop="static">
                    <div class="modal-dialog" style="width:700px;">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 10px;">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" style="display: inline">修改支付信息</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form " style="padding: 0 50px 30px 30px;">
                                    <div style="float:left">
                                        <div class="form-group">
                                            <label class="control-label">规则编号:</label>
                                            <input type="text" style="width:185px;" disabled placeholder="必填"
                                                   v-model="id" class="id"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">产品代码:</label>
                                            <input type="text" style="width:185px;" v-model="mysqlProduct" disabled/>
                                        </div>
                                        <div class="form-group" style="position:relative;bottom:0px;">
                                            <div>
                                                <label class="control-label">开始时间:</label>
                                                <input type="text" style="width:150px;" placeholder="必填" v-model="startTime"
                                                       class="date-timepicker startTime" ref="startTime2" id="startTime_submit"/>
                                                <span class="input-group-addon"
                                                      style="width:30px;display:inline;margin:-5px 0 0 -4px;">
                                                    <i class="fa fa-clock-o bigger-110"></i>
                                                </span>
                                            </div>
                                             <span style="padding-left: 60px;">
                                                <a href="javascript:;" @click="setStartTime('now','submit')">现在日期</a>&nbsp;
                                                <a href="javascript:;" @click="setStartTime('future','submit')">未来日期</a>&nbsp;
                                                <a href="javascript:;" @click="setStartTime(0,'submit')">0点</a>&nbsp;
                                                <a href="javascript:;" @click="setStartTime(9,'submit')">9点</a>&nbsp;
                                                <a href="javascript:;" @click="setStartTime(15,'submit')">15点</a>
                                            </span>
                                        </div>
                                        <div class="form-group" style="position:relative;bottom:0px;">
                                            <div>
                                                <label class="control-label">结束时间:</label>
                                                <input type="text" style="width:150px;" placeholder="必填" v-model="endTime"
                                                       class="date-timepicker endTime" ref="endTime2" id="endTime_submit"/>
                                                <span class="input-group-addon"
                                                      style="width:30px;display:inline;margin:-5px 0 0 -4px;">
                                                    <i class="fa fa-clock-o bigger-110"></i>
                                                </span>

                                            </div>
                                            <span style="padding-left: 60px;">
                                                <a href="javascript:;" @click="setEndTime('now','submit')">现在日期</a>&nbsp;
                                                <a href="javascript:;" @click="setEndTime('future','submit')">未来日期</a>&nbsp;
                                                <a href="javascript:;" @click="setEndTime(0,'submit')">0点</a>&nbsp;
                                                <a href="javascript:;" @click="setEndTime(9,'submit')">9点</a>&nbsp;
                                                <a href="javascript:;" @click="setEndTime(15,'submit')">15点</a>
                                            </span>
                                        </div>
                                    </div>
                                    <div style="float:right">
                                        <div class="form-group">
                                            <label class="control-label">支付方式:</label>
                                            <!-- <input type="text" style="width:175px;"  placeholder="必填" v-model="payType" class="paytype"/> -->
                                            <!--<select name="payType" style="width:175px;" v-model="payType"-->
                                                    <!--style="width: 100px;">-->
                                                <!--<option value="00">全部</option>-->
                                                <!--<option value="01">现金宝</option>-->
                                                <!--<option value="02">银行卡</option>-->
                                            <!--</select>-->

                                            <template v-for="(item,index) in payTypeList">
                                                <label class="pos-rel">
                                                    <input type="checkbox"
                                                           :id="'payType'+index"
                                                           :value="item.pmco" class="ace"
                                                           @click="setpayType(item.pmco)"
                                                           v-model="payType"/>
                                                    <span class="lbl"></span>
                                                </label>
                                                <label :for="'payType'+index"
                                                       v-text="item.pmnm"></label>
                                            </template>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">交易类型:</label>
                                            <!-- <input type="text" style="width:175px;" placeholder="必填" v-model="tradeType" class="tradetype"/> -->
                                            <!--<select style="width:175px" v-model='tradeType'>-->
                                                <!--<option value="00">申购</option>-->
                                                <!--<option value="01">认购</option>-->
                                                <!--<option value="02">赎回</option>-->
                                                <!--<option value="03">定投</option>-->
                                                <!--<option value="04">分红</option>-->
                                                <!--<option value="05">转换</option>-->
                                                <!--<option value="09">其他</option>-->
                                            <!--</select>-->
                                            <select style="width:175px" v-model.trim='tradeType'>
                                                <!--<option value="">全部</option>-->
                                                <option :value="item.pmco" v-for="(item,index) in tradeList">
                                                    {{item.pmnm}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" style="margin-left:28px">渠道:</label>
                                            <!--<input type="text" style="width:175px;" v-model="channel"/>-->
                                            <select style="width:175px" v-model.trim='channel'>
                                                <!--<option value="">全部</option>-->
                                                <option :value="item.pmco" v-for="(item,index) in channelList">
                                                    {{item.pmnm}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" style="margin-left:28px">备注:</label>
                                            <input type="text" style="width:175px;" v-model.trim="remark"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center" style="clear: both">
                                <button class="btn btn-sm btn-primary" @click="serviceSave" v-if="type==0">保存</button>
                                <button class="btn btn-sm btn-primary" @click="localRevise" v-if="type==1">保存</button>
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                            </p>
                        </div>
                    </div>
                </div>
                <!--删除弹窗-->
                <div class="modal" id="del" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 10px;">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">删除数据</h4>
                            </div>
                            <div class="modal-body text-center">
                                <h4>确认删除此条数据?</h4>
                            </div>
                            <p class="text-center">
                                <button type="button" class="btn btn-primary btn-sm" @click="deleteUser">确定</button>
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                            </p>
                        </div>
                    </div>
                </div>
                <!--撤销弹窗-->
                <div class="modal" id="del2" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 10px;">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">撤销数据</h4>
                            </div>
                            <div class="modal-body text-center">
                                <h4>确认撤销数据?</h4>
                            </div>
                            <p class="text-center">
                                <button type="button" class="btn btn-primary btn-sm" @click="deleteUser2">确定</button>
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                            </p>
                        </div>
                    </div>
                </div>

                <!--重新提交删除弹窗-->
                <div class="modal" id="delAgain" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 10px;">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">操作数据</h4>
                            </div>
                            <div class="modal-body text-center">
                                <h4>确认重新提交删除操作?</h4>
                            </div>
                            <p class="text-center">
                                <button type="button" class="btn btn-primary btn-sm" @click="deleteAgain">确定</button>
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                            </p>
                        </div>
                    </div>
                </div>
                <!--修改弹窗-->
                <div class="modal" id="update" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 10px;">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">修改</h4>
                            </div>
                            <div class="modal-body text-center">
                                <h4>确认修改已选中数据?</h4>
                            </div>
                            <p class="text-center">
                                <button type="button" class="btn btn-primary btn-sm" @click="updateParam()">确定</button>
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                            </p>
                        </div>
                    </div>
                </div>
                <!--提示信息弹窗-->
                <div class="modal" id="info" tabindex="-1" role="dialog" aria-hidden="true"
                     data-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 10px;">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                </button>
                                <h4 class="modal-title">提示信息</h4>
                            </div>
                            <div class="modal-body text-center">
                                <h4 v-text="diaMsg"></h4>
                            </div>
                            <p class="text-center">
                                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">确定
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <!--提交弹窗-->
                <div class="modal" id="subMit" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 10px;">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">提交信息</h4>
                            </div>
                            <div class="modal-body text-center">
                                <h4>确定提交该数据？</h4>
                            </div>
                            <p class="text-center">
                                <button type="button" class="btn btn-primary btn-sm" @click="submitCheck()">确定</button>
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tabbable">
                    <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4"
                        style="position:relative">
                        <li class="active" style="z-index:99">
                            <a data-toggle="tab" href="#handle" @click="select2">经办数据</a>
                        </li>
                        <li  style="z-index: 99">
                            <a data-toggle="tab" href="#discount" @click="select">已生效数据</a>
                        </li>

                    </ul>
                    <label class="pos-rel" style="margin-left:20px;position:absolute;top:0px;left:20px;">
                        <input type="radio" name="num" class="ace" value="0" v-model="type" @click="getTableData(0,0)"
                               id="type0"/>
                        <span class="lbl" style="display:none"></span>
                        <span style="margin-left:10px"></span>
                    </label>
                    <label class="pos-rel" style="margin-left:20px;position:absolute;top:0px;left:20px;">
                        <input type="radio" name="num" class="ace" value="1" v-model="type" @click="getTableData(0,1)"
                               id="type1"/>
                        <span class="lbl" style="display:none"></span>
                        <span style="margin-left:10px"></span>
                    </label>
                </div>
                <div class="form-inline" style="padding: 10px 0;">
                    <!-- <label class="control-label">产品代码:</label>
                    <div class="form-group">
                        <input class="scrollable updataMsql" style="width:120px" type="text" v-model="product"/>
                    </div> -->
                    <div class="form-group">
                        <label class="control-label">产品代码:</label>
                        <select id="fundNameList" class="chosen-select form-control" v-model="product"
                                data-placeholder="全部">
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">渠道:</label>
                        <!--<input class="scrollable updataMsql" style="width:120px" type="text" v-model="channel"/>-->
                        <select style="width:120px" v-model.trim='channels'>
                            <option value="">全部</option>
                            <option :value="item.pmco" v-for="(item,index) in channelList">
                                {{item.pmnm}}
                            </option>
                        </select>
                    </div>

                    <!-- <label class="pos-rel" style="margin-left:20px">
                        <input type="radio" name="num" class="ace" value="0" v-model="type" @click="getTableData(0,0)"/>
                        <span class="lbl"></span>
                        <span style="margin-left:10px">现有支付</span>
                    </label>
                    <label class="pos-rel" style="margin-left:20px">
                        <input type="radio" name="num" class="ace" value="1" v-model="type" @click="getTableData(0,1)"/>
                        <span class="lbl"></span>
                        <span style="margin-left:10px">由我经办</span>
                    </label> -->

                    <div class="form-group" style="margin-left:20px;z-index:10" v-show="showMysql">
                        <label class="control-label">复核状态:</label>
                        <select name="status" class="form-control" v-model="reviewStatus"
                                style="width: 100px;">
                            <option value="">全部</option>
                            <!--<option value="1">编辑中</option>-->
                            <option value="0">已复核</option>
                            <option value="2">待复核</option>
                            <option value="9">复核驳回</option>
                        </select>
                    </div>

                    <!--<label class="control-label">业务类型:</label>-->
                    <!--<div class="form-group">-->
                    <!--<input class="typeahead scrollable" type="text" v-model="apkind"/>-->
                    <!--</div>-->

                    <!--   <label class="control-label">复核状态:</label>
                      <div class="form-group">
                          <input class="typeahead scrollable" v-model="fundid" type="text"
                                 @input='binding("fundid","fundnm")'/>
                      </div>

                      <label class="control-label">状态:</label>
                      <div class="form-group">
                          <input class="typeahead scrollable" v-model="fundid" type="text"
                                 @input='binding("fundid","fundnm")'/>
                      </div> -->

                    <!-- <label class="control-label">产品名称:</label>
                    <div class="form-group">
                        <input v-model="fundnm" type="text"/>
                    </div> -->
                    <!--  <div class="form-group pull-right">
                         <input type="button" class="btn btn-sm btn-primary" value="查询" @click="search">
                         <input type="button" class="btn btn-sm btn-primary" value="上传" @click="showUpload">
                         <input type="button" class="btn btn-sm btn-primary" value="发送" @click="showEmail">
                     </div> -->

                    <div class="form-group pull-right">
                        <input type="button" class="btn btn-sm btn-primary" value="查询" v-show="isUpdate"
                               @click="getTableData(0,0)">
                        <input type="button" class="btn btn-sm btn-primary" value="查询" v-show="showMysql"
                               @click="getTableData(0,1)">
                        <% if(canShow||authorityList.includes('C')) { %>
                        <!-- <input type="button" class="btn btn-sm btn-primary" value="查询"  @click="getTableData(0,type)"> -->
                        <input type="button" class="btn btn-sm btn-primary" value="新增" @click="showAdd" v-show="showMysql">
                        <% } %>
                        <!--<input type="button" class="btn btn-sm btn-primary" value="修改"  @click="showUpdate">-->
                        <!-- <input type="button" class="btn btn-sm btn-primary" value="复制" @click="showEmail"> -->
                        <!--<input type="button" class="btn btn-sm btn-danger" value="删除"  @click="showDelete">-->
                        <!-- <input type="button" class="btn btn-sm btn-primary" value="导出.xls" @click="showEmail"> -->
                    </div>
                </div>
                <div class="table-header">
                    <%= cpage %>--表格数据
                </div>
                <!--tab切换页面-->
                <div>
                    <!--分页器和快速查询-->
                    <div class="row" style="padding:8px 0;background-color: #EFF3F8; margin: 0;">
                        <div class="col-xs-6">
                            <div class="dataTables_length" id="dynamic-table_length">
                                <label>每页显示</label>
                                <select class="input-sm" name="pageMaxNum" v-model="pageMaxNum">
                                    <option value="10">10</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                                <label>条</label>
                            </div>
                        </div>
                        <!-- <div class="col-xs-6">
                            <div class="dataTables_filter">
                                <label>快速查询:</label>
                                <input type="text" class="input-sm" v-model="condition">
                            </div>
                        </div> -->
                    </div>
                    <!--数据表-->
                    <table class="table table-striped table-bordered table-hover dataTable" style="margin-bottom: 0;">
                        <thead>
                        <tr>
                            <!--<th class="center">-->
                                <!--<label class="pos-rel">-->
                                    <!--<input type="checkbox" class="ace" v-model="allCheck" @click="selectAll(allCheck)"/>-->
                                    <!--<span class="lbl"></span>-->
                                <!--</label>-->
                            <!--</th>-->
                            <!--<th class="center">规则编号</th>-->
                            <th class="center">产品代码</th>
                            <!--<th class="center">产品名称</th>-->
                            <th class="center">支付方式</th>
                            <th class="center">交易类型</th>
                            <th class="center">渠道</th>

                            <th class="center" v-show="showMysql">创建人</th>
                            <th class="center col-md-1">开始时间</th>
                            <th class="center col-md-1">结束时间</th>
                           <!--  <th class="center col-md-1">创建时间</th>
                            <th class="center col-md-1">更新时间</th> -->
                            <th class="center">备注</th>
                            <th class="center" v-show="showMysql">状态</th>
                            <th class="center" v-show="showMysql">复核状态</th>

                            <th class="center" v-show="showMysql">复核人</th>
                            <th class="center" v-show="showMysql">复核时间</th>
                            <th class="center" v-show="showMysql">复核备注</th>
                            <th class="center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-if="tableData.length>0&&type==0">
                            <tr v-for="(item,index) in tableData" :key="index"
                                :style="index%2==0?'background-color: #f9f9f9;':''">
                                <!--<td class="center">-->
                                    <!--<label class="pos-rel">-->
                                        <!--<input type="checkbox" class="ace" v-model="item.check"/>-->
                                        <!--<span class="lbl"></span>-->
                                    <!--</label>-->
                                <!--</td>-->
                                <!--<td class="center" v-text="item.id"></td>-->
                                <td class="center" v-text="item.product"></td>
                                <!--<td class="center"></td>-->
                                <td class="center">{{item.payType | payType}}</td>
                                <td class="center">{{item.tradeType | tradeType}}</td>
                                <td class="center">{{item.channel | channel}}</td>
                                <td class="center" v-text="item.startTime"></td>
                                <td class="center" v-text="item.endTime"></td>
                                <!-- <td class="center" v-text="item.createTime"></td>
                                <td class="center" v-text="item.updateTime"></td> -->
                                <td class="center" v-text="item.remark"></td>
                                <!-- <td class="center" v-text="item.status" v-show="isUpdate"> -->
                                </td>
                                <td class="center" v-show="showMysql">
                                    <template v-if="item.operate==1">
                                        <span href="javascript:;" v-text="'新增'" style="color:#69AA46"></span>
                                    </template>
                                    <template v-else-if="item.operate==2">
                                        <span href="javascript:;" v-text="'修改'" style="color:#FF892A"></span>
                                    </template>
                                    <template v-else-if="item.operate==3">
                                        <span href="javascript:;" v-text="'删除'" style="color:red"></span>
                                    </template>
                                </td>

                                <td class="center" v-show="showMysql">
                                    <template v-if="item.mysqlStatus=='0'">
                                        <span href="javascript:;" v-text="'复核通过'" style="color:#69AA46"></span>
                                    </template>
                                    <!--<template v-else-if="item.mysqlStatus=='1'">-->
                                        <!--<span href="javascript:;" v-text="'编辑中'"></span>-->
                                    <!--</template>-->
                                    <template v-else-if="item.mysqlStatus=='2'">
                                        <span href="javascript:;" v-text="'待复核'" style="color:red"></span>
                                    </template>
                                    <template v-else-if="item.mysqlStatus=='9'">
                                        <span href="javascript:;" v-text="'复核驳回'" style="color:red"></span>
                                    </template>
                                </td>

                                <td class="center">
                                    <% if(canShow||authorityList.includes('U')) { %>
                                    <a href="javascript:;" @click="serviceUpdate(item)">修改</a>
                                    &nbsp;
                                    <a href="javascript:;" @click="showDelete(item)" style="color:red">删除</a>
                                    <% } %>
                                </td>
                            </tr>
                        </template>
                        <template v-else-if="viewData.length>0&&type==1">
                            <tr v-for="(item,index) in viewData" :key="index"
                                :style="index%2==0?'background-color: #f9f9f9;':''">
                                <!--<td class="center">-->
                                    <!--<label class="pos-rel">-->
                                        <!--<input type="checkbox" class="ace" v-model="item.check"/>-->
                                        <!--<span class="lbl"></span>-->
                                    <!--</label>-->
                                <!--</td>-->
                                <!--<td class="center" v-text="item.id"></td>-->
                                <td class="center" v-text="item.product"></td>
                                <!--<td class="center"></td>-->
                                <td class="center">{{item.payType | payType}}</td>
                                <td class="center">{{item.tradeType | tradeType}}</td>
                                <td class="center">{{item.channel | channel}}</td>

                                <td class="center" v-text="item.operator"></td>
                                <td class="center" v-text="item.startTime"></td>
                                <td class="center" v-text="item.endTime"></td>
                                <!-- <td class="center" v-text="item.createTime"></td>
                                <td class="center" v-text="item.updateTime"></td> -->
                                <td class="center" v-text="item.remark"></td>
                                <!-- <td class="center" v-text="item.status" v-show="isUpdate"> -->
                                </td>
                                <td class="center" v-show="showMysql">
                                    <template v-if="item.operate==1">
                                        <span href="javascript:;" v-text="'新增'" style="color:#69AA46"></span>
                                    </template>
                                    <template v-else-if="item.operate==2">
                                        <span href="javascript:;" v-text="'修改'" style="color:#FF892A"></span>
                                    </template>
                                    <template v-else-if="item.operate==3">
                                        <span href="javascript:;" v-text="'删除'" style="color:red"></span>
                                    </template>
                                </td>

                                <td class="center" v-show="showMysql">
                                    <template v-if="item.mysqlStatus=='0'">
                                        <span href="javascript:;" v-text="'复核通过'" style="color:#69AA46"></span>
                                    </template>
                                    <!--<template v-else-if="item.mysqlStatus=='1'">-->
                                        <!--<span href="javascript:;" v-text="'编辑中'"></span>-->
                                    <!--</template>-->
                                    <template v-else-if="item.mysqlStatus=='2'">
                                        <span href="javascript:;" v-text="'待复核'" style="color:red"></span>
                                    </template>
                                    <template v-else-if="item.mysqlStatus=='9'">
                                        <span href="javascript:;" v-text="'复核驳回'" style="color:red"></span>
                                    </template>
                                </td>
                                <td class="center" v-show="showMysql" v-text="item.reviewer"></td>
                                <td class="center" v-show="showMysql" v-text="item.review_time"></td>
                                <td class="center" v-show="showMysql" v-text="item.revise_remark"></td>
                                <td class="center">
                                    <!--<template  v-if="item.mysqlStatus!='0'">-->
                                        <!--<a href="javascript:;" @click="localUpdate(item)" v-if="item.operate!='3'">修改/</a>-->
                                        <!--<a href="javascript:;" @click="showRevoke(item)" style="color:red">撤销</a>-->
                                    <!--</template>-->
                                    <% if(canShow||authorityList.includes('U')) { %>
                                    <template v-if="item.mysqlStatus==2">
                                        <template v-if="item.operate!=3">
                                            <a href="javascript:;" @click="localUpdate(item)">修改</a>
                                            <span>/</span>
                                        </template>
                                        <a href="javascript:;" @click="showRevoke(item)" style="color:red">撤销</a>
                                    </template>
                                    <template v-else-if="item.mysqlStatus==9">
                                        <a href="javascript:;" @click="showSubmitAgain(item)" >重新提交</a>
                                    </template>
                                    <template v-else>
                                        <span>-</span>
                                    </template>
                                    <% } %>
                                </td>
                            </tr>
                        </template>
                        <template v-else>
                            <tr>
                                <td class="center" v-text="'没有数据'" colspan="26"></td>
                            </tr>
                        </template>
                        </tbody>
                    </table>

                    <!--底部页码-->
                    <!--后端真分页-->
                    <div v-if="tableData.length>0" class="row" v-show="isUpdate"
                         style="border-bottom: 1px solid #e0e0e0;padding-top: 12px;padding-bottom: 12px;background-color: #EFF3F8;margin: 0;">
                        <div class="col-xs-2">
                            <div class="dataTables_info" v-text="'共 '+totalPage+' 页'"></div>
                        </div>
                        <div class="col-xs-10">
                            <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button"
                                        v-show="pageList.length<totalPage&&currentIndex>maxSpace">
                                        <a href="javascript:;" v-text="'1...'" @click="toFirst"></a>
                                    </li>
                                    <li :class="currentIndex==0?'paginate_button previous disabled':'paginate_button previous'"
                                        @click="prev">
                                        <a href="javascript:;" v-text="'上一页'"></a>
                                    </li>
                                    <li :class="value==currentIndex+1?'paginate_button active':'paginate_button'"
                                        v-for="value in pageList" @click="changeIndex(value)">
                                        <a href="javascript:;" v-text="value"></a>
                                    </li>
                                    <li class="paginate_button"
                                        v-show="pageList.length<totalPage&&totalPage-currentIndex>maxSpace">
                                        <a href="javascript:;" v-text="'...'+totalPage" @click="toLast"></a>
                                    </li>
                                    <li :class="currentIndex==totalPage-1?'paginate_button next disabled':'paginate_button next'"
                                        @click="next">
                                        <a href="javascript:;" v-text="'下一页'"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--底部假分页页码-->
                    <div v-if="viewData.length>0"  class="row" v-show="showMysql"
                         style="border-bottom: 1px solid #e0e0e0;padding-top: 12px;padding-bottom: 12px;background-color: #EFF3F8;margin: 0;">
                        <div class="col-xs-2">
                            <div class="dataTables_info" v-text="'共 '+middleData.length+'页'"></div>
                        </div>
                        <div class="col-xs-10">
                            <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
                                <ul class="pagination">
                                    <li :class="currentIndex2==0?'paginate_button previous disabled':'paginate_button previous'"
                                        @click="prev1">
                                        <a href="javascript:;" v-text="'上一页'"></a>
                                    </li>
                                    <li :class="value==currentIndex2+1?'paginate_button active':'paginate_button'"
                                        v-for="value in middleData.length" @click="changeIndex1(value)">
                                        <a href="javascript:;" v-text="value"></a>
                                    </li>
                                    <li :class="currentIndex2==middleData.length-1?'paginate_button next disabled':'paginate_button next'"
                                        @click="next1">
                                        <a href="javascript:;" v-text="'下一页'"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <% include ../../common/footer.html %>
</div><!-- /.main-container -->
<% include ../../common/basic-scripts.html %>
<!-- 开发环境版本，包含了用帮助的命令行警告 -->
<script src="/js/lib/vue.js"></script>
<script src="/ace/assets/js/bootstrap-timepicker.min.js"></script>
<script src="/ace/assets/js/moment.min.js"></script>
<script src="/js/lib/zh-cn.js"></script>
<script src="/ace/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="/ace/assets/js/chosen.jquery.min.js"></script>
<script src="/js/businessMgmt/businessParamConfig/paymentHandle.js"></script>
</body>
</html>
