<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../common/head.html %>
    <!-- inline styles related to this page -->
    <link rel="stylesheet" href="/ace/assets/css/bootstrap-datetimepicker.min.css"/>
    <style>
        .table > tbody > tr > td {
            vertical-align: middle;
        }
    </style>
</head>

<body class="no-skin">
<% include ../../common/header.html %>
<div class="main-container ace-save-state" id="main-container">
    <% include ../../common/sidebar.html %>
    <% include ../../common/left-menu.html %>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content" id="content">
                <% include ../../common/breadcrumb.html %>
                <% include ../../common/ace-settings-container.html %>
                <!--消息提示弹窗-->
                <div class="modal" id="info" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 10px;">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">提示信息</h4>
                            </div>
                            <div class="modal-body text-center">
                                <h4 v-text="diaMsg"></h4>
                            </div>
                            <p class="text-center">
                                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">确定</button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-inline" style="padding: 10px 0;">
                    <div class="form-group">
                        <label class="control-label">客户号:</label>
                        <input type="text" v-model="custNo"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">开始时间:</label>
                        <div class="input-group">
                            <input type="text" id="beginTime" class="form-control date-timepicker"
                                   style="width: 170px;">
                            <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">结束时间:</label>
                        <div class="input-group">
                            <input type="text" id="endTime" class="form-control date-timepicker"
                                   style="width: 170px;">
                            <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-primary" @click="search">查询</button>
                    </div>
                </div>
                <div class="table-header">
                    <%= cpage %>--表格数据
                </div>
                <!--分页器和快速查询-->
                <div class="row" style="padding:8px 0;background-color: #EFF3F8; margin: 0;">
                    <div class="col-xs-6">
                        <div class="dataTables_length">
                            <label>每页显示</label>
                            <select class="input-sm" name="pageMaxNum" v-model="pageMaxNum">
                                <option value="10">10</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="500">500</option>
                            </select>
                            <label>条</label>
                        </div>
                    </div>
                </div>
                <table id="simple-table" class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                    <tr>
                        <th class="center col-sm-2">客户号</th>
                        <th class="center col-sm-1">规则ID</th>
                        <th class="center col-sm-2">模板ID</th>
                        <th class="center col-sm-3">内容</th>
                        <th class="center col-sm-1">状态</th>
                        <th class="center col-sm-2">创建时间</th>
                        <th class="center col-sm-1">规则来源</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-if="viewData.length>0">
                        <tr v-for="(item,index) in viewData" :key="index">
                            <td class="center" v-text="item.custNo"></td>
                            <td class="center" v-text="item.ruleId"></td>
                            <td class="center" v-text="item.templateId"></td>
                            <td class="center" v-text="item.content"></td>
                            <td class="center" v-text="item.status"></td>
                            <td class="center" v-text="item.createTime"></td>
                            <td class="center" v-text="item.ruleSource"></td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr>
                            <td colspan="7" class="center">没有数据</td>
                        </tr>
                    </template>
                    </tbody>
                </table>
                <!--底部页码-->
                <div v-if="viewData.length>0" class="row"
                     style="border-bottom: 1px solid #e0e0e0;padding-top: 12px;padding-bottom: 12px;background-color: #EFF3F8;margin: 0;">
                    <div class="col-xs-2">
                        <div class="dataTables_info" v-text="'共 '+middleData.length+' 页'"></div>
                    </div>
                    <div class="col-xs-10">
                        <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
                            <ul class="pagination">
                                <li class="paginate_button"
                                    v-show="pageList.length<middleData.length&&currentIndex>maxSpace">
                                    <a href="javascript:;" v-text="'1...'" @click="toFirst"></a>
                                </li>
                                <li :class="currentIndex==0?'paginate_button previous disabled':'paginate_button previous'"
                                    @click="prev">
                                    <a href="javascript:;" v-text="'上一页'"></a>
                                </li>
                                <li :class="value==currentIndex+1?'paginate_button active':'paginate_button'"
                                    v-for="value in pageList" @click="changeIndex(value)">
                                    <a href="javascript:;" v-text="value"></a>
                                </li>
                                <li class="paginate_button"
                                    v-show="pageList.length<middleData.length&&middleData.length-currentIndex>maxSpace">
                                    <a href="javascript:;" v-text="'...'+middleData.length" @click="toLast"></a>
                                </li>
                                <li :class="currentIndex==middleData.length-1?'paginate_button next disabled':'paginate_button next'"
                                    @click="next">
                                    <a href="javascript:;" v-text="'下一页'"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
<% include ../../common/footer.html %>
</div><!-- /.main-container -->
<% include ../../common/basic-scripts.html %>
<script src="/js/lib/vue.js"></script>
<script src="/ace/assets/js/bootstrap-timepicker.min.js"></script>
<script src="/ace/assets/js/moment.min.js"></script>
<script src="/js/lib/zh-cn.js"></script>
<script src="/ace/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/messageCenter/singlePush.js"></script>
</body>
</html>