<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../common/head.html %>
    <!-- inline styles related to this page -->
    <style>
        .table > tbody > tr > td {
            vertical-align: middle;
        }
        
    </style>
</head>

<body class="no-skin">
<% include ../../common/header.html %>
<div class="main-container ace-save-state" id="main-container">
    <% include ../../common/sidebar.html %>
    <% include ../../common/left-menu.html %>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <% include ../../common/breadcrumb.html %>
                <% include ../../common/ace-settings-container.html %>
                <div class="row" id="content">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <!-- DIALOG BEGINS -->
                        <!--提示信息弹窗-->
                        <div class="modal" id="info" tabindex="-1" role="dialog" aria-hidden="true"
                             data-backdrop="static">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header" style="padding: 10px;">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                        </button>
                                        <h4 class="modal-title">提示信息</h4>
                                    </div>
                                    <div class="modal-body text-center">
                                        <h4 v-text="diaMsg"></h4>
                                    </div>
                                    <p class="text-center">
                                        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">确定
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <!-- DIALOG ENDS -->
                        <div class="form-inline" style="padding: 10px 0;">
                            <div class="form-group">
                                <!-- <label class="control-label">URL:</label> -->
                                <input type="file" id="upload" />
                            </div>
                           
                        </div>
                        <div class="form-inline" style="padding: 10px 0;">
                            <div class="form-group">
                                <label class="control-label">URL:</label>
                                <!-- <textarea name="" id="" cols="30" rows="10" v-model.trim="url"></textarea> -->
                                <input v-model.trim="url" type="text" style="width: 400px;"/>
                            </div>
                        </div>
                        <div class="form-inline" style="padding: 10px 0;">
                            <div class="form-group ">
                                <% if(canShow||authorityList.includes('C')) { %>
                                <input type="button" class="btn btn-sm btn-primary" @click="uploadAndDown" value="生成">
                                <% } %>
                            </div>
                        </div>
                        <div class="imageBox ">
                            <img id="image" :src="imgurl" alt="">
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <% include ../../common/footer.html %>
</div><!-- /.main-container -->
<% include ../../common/basic-scripts.html %>
<!-- 开发环境版本，包含了用帮助的命令行警告 -->
<script src="/js/lib/vue.js"></script>
<script src="/js/marketingActive/activeRun/qrCodeGenerate.js"></script>
</body>

</html>