<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../common/head.html %>
    <!-- inline styles related to this page -->
    <!-- <link rel="stylesheet" href="/ace/assets/css/select2.min.css" /> -->
    <link rel="stylesheet" href="/ace/assets/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="/css/chosen.min.css">
    <style>
        .table>tbody>tr>td {
            vertical-align: middle;
        }

        .form-inline>div {
            padding: 10px 0;
            text-align: right;
        }

        .form-inline span {
            text-align: left;
        }
        .chosen-single {
            text-align: left;
            height: 34px !important;
            line-height: 30px !important;
            border-radius: 0 !important;
        }
        .select2-selection.select2-selection--single {
            
            height: 30px !important;
            line-height: 30px !important;
            border-radius: 0 !important;
            border: 1px solid #D5D5D5 !important;
        }
        .chosen-container .chosen-results{
            text-align: left;
        }
        .select-nostyle{
            /* border: solid 1px #ddd; */
            position:absolute;
            width: 88%;
            background-color: rgba(0,0,0,.5);
            color: #fff;
            /* height: 100%; */
            max-height: 320px;
            overflow-y: auto;
            z-index: 21;
        }
        .select-nostyle::-webkit-scrollbar {
            display:none
        }
        .select-nostyle p{
            overflow: hidden;
            cursor: pointer;
            width: 100%;
            height: 40px;
            line-height: 40px;
            margin: 0;
            padding-left: 5px;
            border-bottom: 1px #fff solid;
            box-sizing: border-box;
            text-overflow:ellipsis;/* 超出部分显示省略号 */
            white-space: nowrap;
        }

    </style>
</head>

<body class="no-skin">
    <% include ../../common/header.html %>
    <div class="main-container ace-save-state" id="main-container">
        <% include ../../common/sidebar.html %>
        <% include ../../common/left-menu.html %>
        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                    <% include ../../common/breadcrumb.html %>
                    <% include ../../common/ace-settings-container.html %>
                    <div class="row" id="content">


                        <div class="col-xs-12">
                            <!--提示信息弹窗-->
                            <div class="modal" id="info" tabindex="-1" role="dialog" aria-hidden="true"
                                data-backdrop="static">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="padding: 10px;">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">×
                                            </button>
                                            <h4 class="modal-title">提示信息</h4>
                                        </div>
                                        <div class="modal-body text-center">
                                            <h4 v-text="diaMsg"></h4>
                                        </div>
                                        <p class="text-center">
                                            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">确定
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--删除提示信息-->
                            <div class="modal" id="del" tabindex="-1" role="dialog" aria-hidden="true"
                                data-backdrop="static">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="padding: 10px;">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">×
                                            </button>
                                            <h4 class="modal-title">删除提示信息</h4>
                                        </div>
                                        <div class="modal-body text-center">
                                            <h4 v-text="diaMsg"></h4>
                                        </div>
                                        <p class="text-center">
                                            <button class="btn btn-info btn-sm" type="button" @click='del'>
                                                确定
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">
                                                取消
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </div>



                            <div class="modal" id="addAndModify" tabindex="-1" role="dialog" aria-hidden="true"
                                data-backdrop="static">
                                <div class="modal-dialog">
                                    <div class="modal-content" @click="salePositionFlag=false;investAreaFlag=false">
                                        <div class="modal-header" style="padding: 10px;">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">×
                                            </button>
                                            <h4 class="modal-title">新增及修改</h4>
                                        </div>
                                        <div class="form-horizontal">
                                            <div class="form-group" style="margin-top: 15px;">
                                                <label class="col-sm-3 control-label">
                                                    一/二级平台:</label>
                                                <div class="col-sm-3">
                                                    <select-chosen2 v-model='operateData.platForm' 
                                                        width='380px'
                                                        :list='channelAll'
                                                        :key-list='["parentPlatform","salePlatform"]'>
                                                    </select-chosen2>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    上架专区:</label>
                                                <div class="col-sm-4" style="position: relative;">
                                                    <input type="text" style="width: 100%;"
                                                        v-model='operateData.salePosition' @click.stop="salePositionFlag=true;investAreaFlag=false" >
                                                        <!-- v-if="currentPositionList.length>0" -->
                                                    <div class="select-nostyle" v-show="currentPositionList.length>0&&salePositionFlag" >
                                                        <p v-for="item in currentPositionList" @click="operateData.salePosition=item">{{item}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    赛道:</label>
                                                <div class="col-sm-4" style="position: relative;">
                                                    <input type="text" style="width: 100%;"
                                                        v-model='operateData.investArea' @click.stop="investAreaFlag=true;salePositionFlag=false" >
                                                        <!-- v-if="currentPositionList.length>0" -->
                                                    <div class="select-nostyle" v-show="currentInvestAreaList.length>0&&investAreaFlag" >
                                                        <p v-for="item in currentInvestAreaList" @click="operateData.investArea=item">{{item}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    产品ID:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" style="width: 100%;" v-model='operateData.fundid'
                                                        :disabled='!isAdd'>
                                                </div>
                                                <div class="col-sm-4" v-show='isAdd'>
                                                    <button class="btn btn-sm btn-primary" type="button"
                                                        @click='queryDetail'>
                                                        查询
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    产品名称:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" disabled style="width: 100%;"
                                                        v-model='operateData.fundName'>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    产品提供方:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" disabled style="width: 100%;"
                                                        v-model='operateData.supplier'>
                                                </div>
                                            </div>
                                           
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    上线时间:</label>
                                                <div class="col-sm-4">
                                                    <date-picker v-model='operateData.onlineDate' :config="{format:'YYYY-MM-DD'}">
                                                        <span class="input-group-addon" slot='right'>
                                                            <i class="fa fa-clock-o bigger-110"></i>
                                                        </span>
                                                    </date-picker>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    下线时间:</label>
                                                <div class="col-sm-4">
                                                    <date-picker v-model='operateData.offlineDate' :config="{format:'YYYY-MM-DD'}">
                                                        <span class="input-group-addon" slot='right'>
                                                            <i class="fa fa-clock-o bigger-110"></i>
                                                        </span>
                                                    </date-picker>
                                                </div>
                                                <span style="padding-left: 0px;display: inline-block;height:34px;line-height: 34px">
                                                    <a href="javascript:;"
                                                        @click="setDatePicker('now',operateData)">现在</a>&nbsp;
                                                    <a href="javascript:;"
                                                        @click="setDatePicker('future',operateData)">未来</a>&nbsp;
                                                </span>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    是否上线:</label>
                                                <div class="col-sm-4">
                                                    <select style="width: 100%;" v-model="operateData.onlineState">
                                                        <option value="">请选择</option>
                                                        <option value="0">未上线</option>
                                                        <option value="1">已上线</option>
                                                        <option value="2">已下线</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    考核赛道:</label>
                                                <div class="col-sm-4">
                                                    <select style="width: 100%;" v-model="operateData.evalInvestArea">
                                                        <option value="">请选择</option>
                                                        <option :value="item" v-for="(item,index) in evalInvestAreaList">
                                                            {{item}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    备注:</label>
                                                <div class="col-sm-4">
                                                    <textarea cols="22" rows="2"
                                                        v-model='operateData.remark'></textarea>
                                                </div>
                                            </div>

                                        </div>
                                        <p class="text-center">
                                            <button class="btn btn-info btn-sm" type="button" @click='addAndModify()'>
                                                确定
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">
                                                取消
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </div>



                            <!-- DIALOG ENDS -->

                            <div class="form-inline">
                                <div class="form-group " @click = "labelQuery('ParentPlatform')">
                                    <label style="width: 80px;">一级平台：</label>
                                    <select-chosen1 :list='parentPlatformList' v-model='label.parentPlatform' ></select-chosen1>
                                </div>
                                <div class="form-group " @click="labelQuery('SalePlatform')">
                                    <label style="width: 80px;">二级平台：</label>
                                    <select-chosen1 :list='platformList' v-model='label.salePlatform' ></select-chosen1>
                                </div>

                                <div class="form-group " @click="labelQuery('SalePosition')">
                                    <label style="width: 80px;">专区：</label>
                                    <select-chosen1 :list='positionList' v-model='label.salePosition' ></select-chosen1>
                                </div>
                                <div class="form-group " @click="labelQuery('InvestArea')">
                                    <label style="width: 80px;">赛道：</label>
                                    <select-chosen1 :list='investAreaList' v-model='label.investArea' ></select-chosen1>
                                </div>
                                <div class="form-group " @click="labelQuery('ProductId')" >
                                    <label style="width: 80px;">产品：</label>
                                    <select-chosen1 :list='productList' v-model='label.productId' ></select-chosen1>
                                </div>
                                <!-- <div class="form-group ">
                                    <input type="button" class="btn btn-sm btn-primary " value="查询" @click="queryData">
                                </div> -->
                                <div class="form-group pull-right">
                                    <input type="button" class="btn btn-sm btn-primary " value="新增"
                                        @click="addOrModify()">
                                </div>
                                <div class="form-group pull-right" style="margin-right:30px;">
                                    <input type="button" class="btn btn-sm btn-primary " value="查询"
                                        @click="getTableData(0)">
                                </div>
                            </div>
                            <div class="table-header">
                                <%= cpage %>--表格数据
                            </div>
                            <!--分页器和快速查询-->
                            <div class="row" style="padding:8px 0;background-color: #EFF3F8; margin: 0;">
                                <div class="col-xs-6">
                                    <div class="dataTables_length" id="dynamic-table_length">
                                        <label>每页显示</label>
                                        <select class="input-sm" name="pageMaxNum" v-model.trim="pageMaxNum">
                                            <option value="10">10</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="500">500</option>
                                        </select>
                                        <label>条</label>
                                    </div>
                                </div>
                            </div>
                            <!--数据表-->
                            <div style="width: 100%;">
                                <table id="simple-table" class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th class="center">一级平台</th>
                                            <th class="center">二级平台</th>
                                            <th class="center">上架专区</th>
                                            <th class="center">赛道</th>
                                            <!-- <th class="center">产品大类</th> -->
                                            <!-- <th class="center">策略类型</th> -->
                                            <th class="center">产品代码</th>
                                            <th class="center">产品名称</th>
                                            <th class="center">产品提供方</th>
                                            <th class="center">备注</th>
                                            <th class="center">操作</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-if="tableData.length>0">
                                            <tr v-for="(item,index) in tableData" :key="index">
                                                <td class="center" v-text='item.parentPlatform'></td>
                                                <td class="center" v-text='item.salePlatform'></td>
                                                <td class="center" v-text='item.salePosition'></td>
                                                <td class="center" v-text='item.investArea'></td>
                                                <!-- <td class="center" v-text='item.' ></td> -->
                                                <!-- <td class="center" v-text='item.' ></td> -->
                                                <td class="center" v-text='item.fundid'></td>
                                                <td class="center" v-text='item.fundName'></td>
                                                <td class="center" v-text='item.supplier'></td>
                                                <td class="center" v-text='item.remark'></td>
                                                <td class="center">
                                                    <a href="javascript:;" @click='addOrModify(item)'>修改</a>
                                                    <% if(canShow||authorityList.includes('U')) { %>
                                                    &nbsp;
                                                    <a href="javascript:;" class="red"
                                                        @click="deleteDialog(item)">删除</a>
                                                    <% } %>
                                                </td>
                                            </tr>
                                        </template>
                                        <template v-else>
                                            <tr>
                                                <td class="center" v-text="'没有数据'" colspan="11"></td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                            <!--底部页码-->
                            <div v-if="tableData.length>0" class="row"
                                style="border-bottom: 1px solid #e0e0e0;padding-top: 12px;padding-bottom: 12px;background-color: #EFF3F8;margin: 0;">
                                <div class="col-xs-2">
                                    <div class="dataTables_info" v-text="'共 '+totalPage+' 页'"></div>
                                </div>
                                <div class="col-xs-10">
                                    <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button"
                                                v-show="pageList.length<totalPage&&currentIndex>maxSpace">
                                                <a href="javascript:;" v-text="'1...'" @click="toFirst"></a>
                                            </li>
                                            <li :class="currentIndex==0?'paginate_button previous disabled':'paginate_button previous'"
                                                @click="prev">
                                                <a href="javascript:;" v-text="'上一页'"></a>
                                            </li>
                                            <li :class="value==currentIndex+1?'paginate_button active':'paginate_button'"
                                                v-for="value in pageList" @click="changeIndex(value)">
                                                <a href="javascript:;" v-text="value"></a>
                                            </li>
                                            <li class="paginate_button"
                                                v-show="pageList.length<totalPage&&totalPage-currentIndex>maxSpace">
                                                <a href="javascript:;" v-text="'...'+totalPage" @click="toLast"></a>
                                            </li>
                                            <li :class="currentIndex==totalPage-1?'paginate_button next disabled':'paginate_button next'"
                                                @click="next">
                                                <a href="javascript:;" v-text="'下一页'"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->
        <% include ../../common/footer.html %>
    </div><!-- /.main-container -->
    <% include ../../common/basic-scripts.html %>
    <!-- 开发环境版本，包含了用帮助的命令行警告 -->
    <script src="/js/lib/vue.js"></script>
    <script src="/ace/assets/js/moment.min.js"></script>
    <script src="/ace/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/ace/assets/js/v-datetimepicker.js"></script>
    <script src="/ace/assets/js/chosen.jquery.min.js"></script>
    <!-- <script src="/ace/assets/js/select2.min.js"></script> -->
    <script src="/js/productIndexes/monitoring/fundInfo.js"></script>
</body>

</html>